@model Telemark.ViewModels.DirectorInfoMessage_ViewModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    <a asp-action="Create" asp-items="@(new SelectList(Model.racelist,"Id", "Name"))">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Race
            </th>
            <th>
                Keyword
            </th>
            <th>
                Information
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.messages) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.race.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.keyword)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.information)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
