@model Telemark.ViewModels.RaceDetails_ViewModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container">
    <div class="card card-profile">
        <div class="card-avatar">
            <a href="#pablo">
                <img class="img" src="@Html.DisplayFor(model => model.race.logo_url)" />
            </a>
        </div>
        <div class="card-content">
            <h6 class="category text-gray">@Html.DisplayFor(model => model.race.next_date)</h6>
            <h4 class="card-title">@Html.DisplayFor(model => model.race.name)</h4>
            <p class="description">
                @Html.DisplayFor(model => model.race.description)
            </p>
        </div>
        <div class="card-footer">
            <div class="row">
                <div class="col-xs-3 bg-info">
                    <div class="profile-social-wrapper">
                        <span class="profile-count">@Html.DisplayFor(model => model.events.Count)</span>
                        <small class="">Events</small>
                    </div>
                </div>
                <div class="col-xs-3 bg-info-alt">
                    <div class="profile-social-wrapper">
                        <span class="profile-count">@Html.DisplayFor(model => model.participants.Count)</span>
                        <small class="">Participants</small>
                    </div>
                </div>
                <div class="col-xs-3 bg-info">
                    <div class="profile-social-wrapper">
                        <span class="profile-count">@Html.DisplayFor(model => model.locations.Count)</span>
                        <small class="">Locations</small>
                    </div>
                </div>
                <div class="col-xs-3 bg-info-alt">
                    <div class="profile-social-wrapper">
                        <span class="profile-count">@Html.DisplayFor(model => model.users.Count)</span>
                        <small class="">Users</small>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-content">
                            <h4 class="card-title">Locations</h4> 
                            <div class="toolbar">
                                <!-- Button trigger modal -->
                                <button type="button" class="btn btn-primary" data-toggle="ajax-modal" data-target="#add-location" asp-route-id="@Html.DisplayFor(model => model.race.race_id)" data-url="@Url.Action("Create", "Locations")">
                                    Add Location
                                </button>
                            </div>
                            <div class="material-datatables">
                                <table id="locationtable" class="table table-striped table-no-bordered table-hover" cellspacing="0" width="100%" style="width:100%">
                                    <thead>
                                        <tr>
                                            <th>Name</th>
                                            <th>Keyword</th>
                                            <th>Description</th>
                                            <th class="disabled-sorting text-right">Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model.locations)
                                        {
                                            <tr>
                                                <td>@item.LocationName</td>
                                                <td>@item.Keyword</td>
                                                <td>@item.Description</td>
                                                <td class="text-right">
                                                    <a asp-action="Edit" asp-route-id="@item.race_id" class="btn btn-primary btn-round btn-sm">Edit<i class="material-icons">edit_location</i></a>
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <!-- end content-->
                    </div>
                    <!--  end card  -->
                </div>
                <!-- end col-md-6 -->
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-content">
                            <h4 class="card-title">Info Messages</h4>
                            <div class="toolbar">
                                <!--        Here you can write extra buttons/actions for the toolbar              -->
                            </div>
                            <div class="material-datatables">
                                <table id="infotable" class="table table-striped table-no-bordered table-hover" cellspacing="0" width="100%" style="width:100%">
                                    <thead>
                                        <tr>
                                            <th>Name</th>
                                            <th>Keyword</th>
                                            <th>Description</th>
                                            <th class="disabled-sorting text-right">Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model.infoMessages)
                                        {
                                            <tr>
                                                <td>@item.id"</td>
                                                <td>@item.keyword</td>
                                                <td>@item.information</td>
                                                <td class="text-right">
                                                    <a asp-action="Edit" asp-route-id="@item.race_id" class="btn btn-primary btn-round btn-sm">Edit<i class="material-icons">edit_location</i></a>
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <!-- end content-->
                    </div>
                    <!--  end card  -->
                </div>
                <!-- end col-md-12 -->
            </div>
        </div>
    </div>
</div>
<div id="modal-placeholder"></div>
<div class="container">
    <div class="col-md-6">
        <br />
        <div class="card" style="min-height: 400px">
            <div class="card-header">
                <h4 class="card-title">@Html.DisplayFor(model => model.race.name) Race Locations</h4>
            </div>
            <div class="card-content">
                <div id="locationsMap" class="map"></div>
            </div>
        </div>
    </div>
</div>

<div>
    <a asp-action="Edit" asp-route-id="@Model.race.id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
@section Scripts {
    <script>
        $(document).ready(function () {
            initRaceGoogleMaps();
        });
        $(document).ready(function () {
            $('#locationtable').DataTable({
                "pagingType": "full_numbers",
                "lengthMenu": [
                    [5, 10, 25, 50, -1],
                    [5, 10, 25, 50, "All"]
                ],
                responsive: true,
                language: {
                    search: "_INPUT_",
                    searchPlaceholder: "Search records",
                }

            })
            $('#infotable').DataTable({
                "pagingType": "full_numbers",
                "lengthMenu": [
                    [5, 10, 25, 50, -1],
                    [5, 10, 25, 50, "All"]
                ],
                responsive: true,
                language: {
                    search: "_INPUT_",
                    searchPlaceholder: "Search records",
                }

            });

            var table = $('#datatables').DataTable();

            // Edit record
            table.on('click', '.edit', function () {
                $tr = $(this).closest('tr');

                var data = table.row($tr).data();
                alert('You press on Row: ' + data[0] + ' ' + data[1] + ' ' + data[2] + '\'s row.');
            });

            // Delete a record
            table.on('click', '.remove', function (e) {
                $tr = $(this).closest('tr');
                table.row($tr).remove().draw();
                e.preventDefault();
            });

            //Like record
            table.on('click', '.like', function () {
                alert('You clicked on Like button');
            });

            $('.card .material-datatables label').addClass('form-group');
        });

        function initRaceGoogleMaps(){

            var locationsArray = [];
            var loc = []

            @foreach (var d in Model.locations)
            {
                @:locationsArray.push("@d");
            }

            var bounds = new google.maps.LatLngBounds();

            alert(locationsArray[0][2]);
            // Regular Map
            var myLatlng = new google.maps.LatLng(@Model.raceAddress.Latitude, @Model.raceAddress.Longitude);
            var mapOptions = {
                zoom: 15,
                center: myLatlng,
                scrollwheel: false, //we disable de scroll over the map, it is a really annoing when you scroll through page
            }

            var raceMap = new google.maps.Map(document.getElementById("locationsMap"), mapOptions);


            var homeMarker = new google.maps.Marker({
                position: myLatlng,
                title: "Race Address",
                label: "@Model.race.name"
            });

            homeMarker.setMap(raceMap);

            var marker, i;

            for (i = 0; i < locationsArray.length; i++) {
                marker = new google.maps.Marker({
                    position: new google.maps.LatLng(locationsArray[i][1], locationsArray[i][2]),
                    label: locationsArray[i][0],
                    map: raceMap
                });

                google.maps.event.addListener(marker, 'click', (function (marker, i) {
                    return function () {
                        infowindow.setContent(locationsArray[i][0]);
                        infowindow.open(map, marker);
                    }
                })(marker, i));
            }
        };


    </script>
}
